{
    -fx-bg-dark: #1a1820;
    -fx-bg: #2a2831;
    -fx-bg-light: #3b3842;

    -fx-text: #f6f3ff;
    -fx-text-muted: #c6c0d6;

    -fx-highlight: #7e7aa0;
    -fx-border: #6c6891;
    -fx-border-muted: #514e77;

    -fx-primary: #d8d1ff;
    -fx-secondary: #d8ffd1;
    -fx-danger: #f3c1b0;
    -fx-warning: #f3ecb0;
    -fx-success: #b0f3c1;
    -fx-info: #b0c1f3;
}

.root {
    -fx-font-family: "Menlo";
    -fx-font-size: 14px;
    -fx-font-color: fx-text;
    -fx-background-color: linear-gradient(to bottom right, -fx-bg-dark, -fx-bg);
}

.separator {
    -fx-background-color: -fx-highlight;
}

#typeComboBox, #datePicker, #dayOfWeekComboBox, #ordinalChoiceBox,
#startHourComboBox, #endHourComboBox, #startMinuteComboBox, #endMinuteComboBox {
    -fx-background-color: -fx-primary;
    -mfx-depth: 5;
}

#ordinalChoiceBox .floating-text {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-background-color: -fx-highlight;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: -fx-text;
    -fx-button-type: RAISED;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-shadow-radius: 5px;
}

.button:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-bg;
}

#fromLabel, #toLabel {
    -fx-text-fill: -fx-text-muted;
}

#allDayDateSwitch, #allDayDayOfWeekSwitch, #startTimeAmPmToggleSwitch, #endTimeAmPmToggleSwitch {
    -fx-text-fill: -fx-text-muted;
    -mfx-depth: 5;
}

#allDayDateSwitch .mfx-ripple-generator, #allDayDayOfWeekSwitch .mfx-ripple-generator, #startTimeAmPmToggleSwitch .mfx-ripple-generator, #endTimeAmPmToggleSwitch .mfx-ripple-generator {
    -mfx-ripple-color: -fx-secondary;
}

#allDayDateSwitch .circle, #allDayDayOfWeekSwitch .circle, #startTimeAmPmToggleSwitch .circle, #endTimeAmPmToggleSwitch .circle {
    -fx-fill: -fx-secondary;
}

#allDayDateSwitch .line, #allDayDayOfWeekSwitch .line, #startTimeAmPmToggleSwitch .line, #endTimeAmPmToggleSwitch .line {
    -fx-stroke: -fx-highlight;
}

#allDayDateSwitch:selected .line, #allDayDayOfWeekSwitch:selected .line, #startTimeAmPmToggleSwitch:selected .line, #endTimeAmPmToggleSwitch:selected .line {
    -fx-stroke: -fx-success;
}